@charset "utf-8";
*{ padding:0; margin:0;font-size:12px; font-style:normal; font-weight:300;}
ul{ list-style:none;}

.cf:before,.cf:after{display:table;line-height:0;content:' '}.cf:after{clear:both}.cf{*zoom:1}
.cl{clear:both}



input{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.btn{ width:3em; padding:5px;border:1px solid #ccc; cursor:pointer;}.btn>input{ display:none;}
.fb li{ position:relative; margin-bottom:20px;}
.fbtj{ margin-left:4em;}



/* flpopslt.css below. feilong-20150414-cs */


.hide{ display:none;}
.inb{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;}
.rel{ position:relative;}
.zmost{ z-index:9999;}


/*popslt*/
/*popslt*/
.popslt{position:relative; }
.slted{min-width:6em; white-space:nowrap;}
.sltwhat{min-width:160px;line-height:20px; padding:2px 2% 4px 3%;border:1px solid #ccc; background-color:#f6f6f6;position:absolute; left:0;top:105%;}
.sltshut{width:24px;height:24px; line-height:24px; border:1px solid #ccc; font-size:14px; font-family:Tahoma;
text-align:center;background-color:#f6f6f6; cursor:pointer; position:absolute; top:-12px; right:-12px;
border-radius:50%;}
.sltopt{display:inline-block;*display:inline;*zoom:1;vertical-align:middle;
width:28%; padding-left:2%;cursor:pointer;}.sltopt:hover{background-color:#f8f8f8;}
.sltopt input{float:left;margin:4px 3px 0 3px}.sltopt i{display:block;}

.tanup .sltwhat{bottom:105%;top:auto;}

.tancol1 .sltopt{width:100%;}
.tancol1 .sltwhat{min-width:95%;}
.sltli{ position:relative;}

/*****  end flpopslt.css feilong-20141120-gz  *****/
